<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e437c0b8-6621-4584-9de6-9b0e590bd62a/resourcegroups/Attendance/providers/Microsoft.Web/sites/AttendanceApp20180501013832</ResourceId>
    <ResourceGroup>Attendance</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://attendanceapp20180501013832.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>attendanceapp20180501013832.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AttendanceApp20180501013832</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AttendanceApp20180501013832</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AttendanceContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:attendancedb.database.windows.net,1433;Initial Catalog=AttDB;Persist Security Info=False;User ID=guraa;Password=4hExugu3ac1987!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:attendancedb.database.windows.net,1433;Initial Catalog=AttDB;Persist Security Info=False;User ID=guraa;Password=4hExugu3ac1987!;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AttendanceApp.AttendanceContext, AttendanceApp" MigrationConfiguration="AttendanceApp.Migrations.Configuration, AttendanceApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AttendanceContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:attendancedb.database.windows.net,1433;Initial Catalog=AttDB;Persist Security Info=False;User ID=guraa;Password=4hExugu3ac1987!;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>